h2 {
  font-size: 2em;
  color: white;
}

h3 a {
  font-size: 1.5em;
  color: white;
  text-decoration: underline;
}
span {
  font-size: 1.25em;
  color: #b3b3b3;
}

@media only screen and (min-width: 775px) {
  h2 {
    font-size: 3rem;
    color: white;
  }
  h3 a {
    font-size: 2rem;
  }
}