<header>
  <div class="container">
    <div class="row">
      <div class="logo">
        <h2 class="logo">
          <a routerLink="/">GoobIsGabe</a>
        </h2>
      </div>

      <div
        class="menu_icon"
        [class.menu_iconClass]="menu_icon_variable"
        (click)="openMenu()"
      >
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div id="sidenav" class="menu" [class.menuClass]="menuVariable">
        <div class="menufiller"></div>
        <ul>
          <div class="dropdown">
            <li><a routerLink="/stream">stream</a></li>
            <div class="dropdown-content">
              <li><a routerLink="/widgets" class="">widgets</a></li>
            </div>
          </div>
          <li><a routerLink="/commands" class="">commands</a></li>
          <div class="dropdown">
          <li><a routerLink="/records" class="">records</a></li>
          <div class="dropdown-content">
            <li><a routerLink="/leaderboard" class="">leaderboards</a></li>
            <li><a routerLink="/roulette" class="">roulette</a></li>
          </div>
        </div>          
          <li><a routerLink="/merch" class="">merch</a></li>
          <li><a routerLink="/donate" class="">donate</a></li>
          <li><a routerLink="/recommended" class="">community</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
