svg.noise{ 
  position: fixed;
  left: 0;
  top: 0;
  z-index: -20;
  filter: opacity(0.05);
}
.dotmagenta {
    height: 705px;
    width: 705px;
    background-color: #FF00FF;
    border-radius: 50%;
    position: fixed;
    z-index: -2;
    filter: blur(250px);
    margin-left: 30em;
    margin-top: -40em;
  }
  .dotcyan {
    height: 705px;
    width: 705px;
    background-color: #00ffFF;
    border-radius: 50%;
    position: fixed;
    z-index: -2;
    filter: blur(250px);
    margin-left: -10em;
    margin-top: 40em;
    min-height: 100vh;
  }
  main{
    min-height: 100vh;
  }
  app-footer{
    height: 200px;
  }
@media only screen and (min-width: 1060px){
    .dotmagenta{
        right:0;
    }
    .dotcyan{
        left:0;
    }
}   