.dotmagenta {
    height: 705px;
    width: 705px;
    background-color: #FF00FF;
    border-radius: 50%;
    position: fixed;
    z-index: -2;
    filter: blur(250px);
    margin-left: 30em;
    margin-top: -40em;
  }
  .dotcyan {
    height: 705px;
    width: 705px;
    background-color: #00ffFF;
    border-radius: 50%;
    position: fixed;
    z-index: -2;
    filter: blur(250px);
    margin-left: -10em;
    margin-top: 40em;
  }

@media only screen and (min-width: 1060px){
    .dotmagenta{
        right:0;
    }
    .dotcyan{
        left:0;
    }
}   