<h1>List of commands</h1>
<ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1"><b>Command</b></div>
      <div class="col col-2"><b>Output</b></div>
      <div class="col col-3"><b>Permissions</b></div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!8ball</div>
      <div class="col col-2" data-label="Output">Responds to any prompt you give it by manifesting all possibilities.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!accountage</div>
      <div class="col col-2" data-label="Output">Returns how old your Twitch account is.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!advice</div>
      <div class="col col-2" data-label="Output">Returns a random piece of advice.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!bttv</div>
      <div class="col col-2" data-label="Output">Lists all current BTTV emotes.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!catfact</div>
      <div class="col col-2" data-label="Output">Did you know ____ about cats? Use this to learn more about cats!</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!chatfact</div>
      <div class="col col-2" data-label="Output">Selects a random viewer and gives you a neat tid-bit about them.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!commands</div>
      <div class="col col-2" data-label="Output">Lists all of the commands in chat.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!cts | !customtracks</div>
      <div class="col col-2" data-label="Output">Gives you a link to custom tracks for Mario Kart Wii.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!disc | !discord</div>
      <div class="col col-2" data-label="Output">Links you to the Discord!</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!followage</div>
      <div class="col col-2" data-label="Output">How long have you been following me? Well lets see!</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!goal</div>
      <div class="col col-2" data-label="Output">Informs you on my current follower goal!</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!honey</div>
      <div class="col col-2" data-label="Output">If this is done, I've done something horribly horribly wrong.</div>
      <div class="col col-3" data-label="Permissions">MissteryHero</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!joke</div>
      <div class="col col-2" data-label="Output">Tells you a really funny joke.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!pause</div>
      <div class="col col-2" data-label="Output">Pause the currently playing music (if Foobar2000 is open).</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!play</div>
      <div class="col col-2" data-label="Output">Play music (if Foobar2000 is open)</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!song</div>
      <div class="col col-2" data-label="Output">Lists the currently playing song (if Foobar2000 is open).</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!time</div>
      <div class="col col-2" data-label="Output">Lets you know what time it is for me.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!uptime</div>
      <div class="col col-2" data-label="Output">How long have I been live for?</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
    <li class="table-row">
      <div class="col col-1" data-label="Command Name">!watchtime</div>
      <div class="col col-2" data-label="Output">Lets you know how long you've been in chat while I've been live.</div>
      <div class="col col-3" data-label="Permissions">Anyone</div>
    </li>
  </ul>
<div class="spacing"></div>